html,
body {
  margin: 0;
  padding: 0;
}

#canvas {
  background-color: white;
}

#loading {
  /* center
  https://www.w3.org/Style/Examples/007/center.en.html#hv3 */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#speech {
  /* https://stackoverflow.com/a/25435165/358804 */
  position: absolute;
  width: 0;
  height: 0;
  border: 0;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

video.fullscreen {
  /* https://stackoverflow.com/a/61944771 */
  object-fit: cover;
}
